[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit Authentication: how to create a NodeJS application using JWT
Type=Link
URL=https://medium.com/swlh/authentication-how-to-create-a-nodejs-application-using-jwt-cee8bc5a89fe
Icon=text-html
