[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit Create a Web App and RESTful API Server Using the MEAN Stack | Heroku Dev Center
Type=Link
URL=https://devcenter.heroku.com/articles/mean-apps-restful-api
Icon=text-html
