[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit How to Build a Real-time Chat App With NodeJS, Socket.IO, and MongoDB - DEV Community 👩‍💻👨‍💻
Type=Link
URL=https://dev.to/rexeze/how-to-build-a-real-time-chat-app-with-nodejs-socketio-and-mongodb-2kho
Icon=text-html
