[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit Using MongoDB as a realtime database with change streams - By
Type=Link
URL=https://hackernoon.com/using-mongodb-as-a-realtime-database-with-change-streams-213cba1dfc2a
Icon=text-html
