[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit Using MongoDB as realtime DB with nodeJS. - Noteworthy - The Journal Blog
Type=Link
URL=https://blog.usejournal.com/using-mongodb-as-realtime-db-with-nodejs-c6f52c266750
Icon=text-html
