[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit Writing a CRUD app with Node.js and MongoDB - codeburst
Type=Link
URL=https://codeburst.io/writing-a-crud-app-with-node-js-and-mongodb-e0827cbbdafb
Icon=text-html
